.products {
    margin-top: 10rem;
  }
  
  .products-layout {
    display: grid;
    grid-template-columns: 1.05fr 3fr;
    gap: 0 1rem;
  }
  .col-3-of-4 .product-layout {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .col-3-of-4 {
    text-align: center;
  }
  
  @media only screen and (max-width: 996px) {
    .col-3-of-4 .product-layout {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 768px) {
    .products-layout {
      padding: 0 5rem;
    }
  
    .col-3-of-4 form {
      flex-direction: column;
      align-items: end;
    }
  
    .col-3-of-4 form a {
      margin-right: 0;
    }
  
    .col-3-of-4 form .item {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
  
  @media only screen and (max-width: 567px) {
    .col-3-of-4 .product-layout {
      grid-template-columns: 1fr;
    }
  }
  .col-1-of-4 .block-title {
    color: var(--grey1);
    margin-bottom: 1.6rem;
  }
  
  .col-1-of-4 h3 {
    font-size: 2.7rem;
    font-weight: inherit;
  }
  
  .col-1-of-4 div {
    margin-bottom: 8rem;
  }
  
  .block-content li {
    margin-bottom: 1rem;
  }
  
  .block-content li label {
    color: var(--grey2);
    margin-left: 1rem;
  }
  
  .block-content li label small {
    font-size: 1rem;
  }
  
  .block-content li input {
    outline: none;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
  }
  
  .pagination span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    color: var(--black);
    font-size: 1.3rem;
    border: 1px solid var(--grey2);
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  .pagination span.last {
    width: 7rem;
    border-radius: 3rem;
  }
  
  .pagination span:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
  }
  
  @media only screen and (max-width: 768px) {
    .products-layout {
      grid-template-columns: 1fr;
      gap: 4rem 0;
    }
  }